
YOCO_SECRET_KEY=sk_live_5597cce5NoJgop94cf64ee0a8565
YOCO_PUBLIC_KEY=pk_live_14c05324bVwPVyOaa364
PUBLIC_SITE_URL=https://zapifydesigns.co.za
CORS_ORIGIN=https://zapifydesigns.co.za
PORT=3000
# Optional persistent storage paths:
# ORDER_STORE_PATH=./data/orders.json
# CUSTOMIZATION_STORE_PATH=./data/customizations.json
